//////////////////////////////////////////////////
////  About Layout  //////////////////////////////
//////////////////////////////////////////////////

#about {
	overflow: hidden;
	
	p {
		margin-bottom: 8px;
		font-weight: 400;
	}
	
	ul.social {
		margin-top: ($baseline / 3) * 2;
	}
}